.login {
  background-image: url('../../images/bg2.jpg');
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.loginOuter {
  height: 100%;
}

.loginContainer {
  padding: 1rem;
  width:375px;
  margin: 0 auto;
  h1 {
    font-size:24px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
  }
}
